body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("static/taipei.jpg");

  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  width: 100%;
  height: 60%;
}

.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}

.centered2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
  height:70%;
  background-image: url("static/taipei2.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 10% 5% 5%;
  width: absolute;
  max-width: 110%; 
}

.section {
  padding-top:50px;
  height:500px;
  color: #fff;
  background-color: #F0F8FF;
}

.logo {
  width: 60%;
}

#projects {
  background-color: #1a1919;
  padding: 5%;
}

#JS {
  background-image: url("static/wood.jpg");
  background-size: cover;
 
  background-repeat: no-repeat;
  background-position: center;
  padding: 5% 10% 5% 5%;
  width: absolute;
  max-width: 110%; 
}

.phone {
  margin-top: 20px
}

.narrower {
  padding-left:40px;
  padding-right: 40px;
}

/* *********************    Portfolio   ********************/


#portfolio .container-fluid {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}



/********************** All Games **********************/

.animation-container {
  text-align: center;
  height: 400px;
  position: relative;
  border: solid black;
  border-width: 3px;
  border-color: black;
  border-radius: 5%;
  background: black;
  /* margin-left: 100%; */
  margin: 10% 5% 10% 5%;
  /* display: block */
}

.instruct {
  color: white;
  display: inline;
  /* margin-left: 42%; */
}
.score {
  color: white;
  float: right;
  margin-right:5%;
  display: inline;
}


/********************** Pong **********************/

#ball {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  position: absolute;
  background-color: white;
}

#player-1 {
  width:2%;
  height: 25%;
  left: 2%;
  position: absolute;
  background-color: whitesmoke;
}

#player-2 {
  width:2%;
  height: 25%;
  right: 2%;
  position: absolute;
  background-color: whitesmoke;
}

/********************** PacSnake **********************/

#pacsnake {
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-right: 20px solid transparent;
  border-top: 20px solid yellow;
  border-left: 20px solid yellow;
  border-bottom: 20px solid yellow;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#edible {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
}

.snake-body {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
}

.wipe {
  background-color: black;
  height: 0px;
  position: absolute;
}

/* ******************  Ghosts ************** */
/* Adopted from Gabriel do Nascimento Barbier */
/* https://codepen.io/_barbier/pen/sDHfa */

.blinky{ background-color: red;}
.clyde{ background-color: orange;}
.inky{ background-color: cyan;}
.pinky{ background-color: pink;}

.ghost{
  border-radius: 100% 100% 0 0;
  display: inline-block;
  height: 40px;
  position: absolute;
  left: 0px;
  width: 30px;
}

.eyes{
  height: 15px;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  width: 22px;
  top: 12px;
}

.eye{
  background: #fff;
  border-radius: 100%;
  height: 15px;
  width: 7px;
}

.iris{
  background: blue;
  border-radius: 100%;
  height: 10px;
  position: absolute;
  width: 4px;
  top: 2px;
}

.leftEye{ float: left; }
.leftEye .iris{ left: 1px; }

.rightEye{float: right; }
.rightEye .iris{ right: 2px; }

.ghostTail{
  background-repeat: repeat-x;
  bottom: -9px;
  height: 10px;
  position: absolute;
  width: 30px;
}

.blinky .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, red 75%) 0 0%,
    linear-gradient( 45deg, transparent 75%, red 75%) 0 0%;
  background-size:10px 10px, 10px 10px;
}

.clyde .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, orange 75%) 0 0%,
    linear-gradient( 45deg, transparent 75%, orange 75%) 0 0%;
  background-size:10px 10px, 10px 10px;
}

.inky .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, cyan 75%) 0 0%,
    linear-gradient( 45deg, transparent 75%, cyan 75%) 0 0%;
  background-size:10px 10px, 10px 10px;
}

.pinky .ghostTail{
  background:
    linear-gradient(-45deg, transparent 75%, pink 75%) 0 0%,
    linear-gradient( 45deg, transparent 75%, pink 75%) 0 0%;
  background-size:10px 10px, 10px 10px;
}