/* Inspired by w3 schools */
/****************** For All Pages ******************/

body {
	background-color: #242424;
}

.background {
	background-image: url(static/home.png);
	background-repeat: no-repeat;
	background-position: center 300px;
    background-size: 100% 55%; 
	position: absolute;
	width: 100%;
	height: 160%;
	top: -51%;
	left: 0%;
	overflow: visible;
	z-index: -10;
}

.navbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5F9EA0;
}

a.nav-item {
	color: white;
	float: right;
	padding: 20px 20px 20px 20px;
	font-size: 20px;
	text-decoration: none;
  font-family: 'Spartan';
}

a.nav-item:hover {
	background-color: #F0FFFF;
	color: black;
}


a.nav-item .badge {
  position: absolute;
  top: 5px;
  right: 0px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  font-size: 15px;
}

/****************** Product Gallery ******************/

.grid-container {
	display: grid;
}

h1 {
	text-align: center;
	color: white;
  font-family: 'Spartan';

}

div.grid-item {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  padding: 10px;
  margin: 30px;
}

div.grid-item:hover {
  border: 1px solid #777;
}

div.grid-item img {
  width: 200px;
  height: 200px;
  cursor:pointer;

}

div.desc {
  padding: 15px;
  text-align: center;
  font-size: 150%;
  color: white;
  font-family: 'Spartan';

}

/****************** Product Detail ******************/

div.display-item {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 40%;
  padding: 10px;
  margin: 30px;
}

img.display {
  margin-left: 10%;
  width: 80%;
}

div.info {
  margin: 5px;
  float: right;
  width: 40%;
  padding: 10px;
  margin: 10px;
}

p, label, select {
	color: white;
	font-size: 20px;
	background-color: #242424;
	text-align: left;
	margin: 0px 0px 15px;
  font-family: 'Spartan';


}

button {
	background-color: #79acba;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  font-family: 'Spartan';
}

button:hover {
	background-color: orange;
}

/********************** MODAL *******************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #242424;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/********************** Cart *******************/
.cart {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin:10% 10% 0% 10%;
}

.cart td, .cart th {
  border: 1px solid #ddd;
  padding: 8px;
}

.cart tr {background-color: #ddd;}

.cart tr:hover {background-color: #ddd;}

.cart tr:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5F9EA0;
}

.delete {
  text-align: center;
  color: red;
  background-color: #ddd;
}

.checkout{
    margin: 0% 0% 0% 10%;
}